body {
	background: #FFFACD
}

section {
	font-family: Garamond;
	border: 1px solid black;
	padding: 15px;
}

figure {
	margin: auto;
}

footer {
	text-align: center;
}

#More-laker-info {
	background-image: url("images/kb_background.jpg");
	color: white;
}

.fav {
	font-weight: bold;
	text-decoration: underline;
}

.Kobe {
	color: blue;
	font-weight: bold;
}

.lakeshow {
	color: yellow;
	font-weight: bold;
}

a:visited {
    color: aqua;
}